<?xml version="1.0"?>
<config>
    <modules>
        <Etheme_Idstore>
            <version>1.0.2</version>
        </Etheme_Idstore>
    </modules>
	<global>
		<models>
            <idstore>
                <class>Etheme_Idstore_Model</class>
            </idstore>   
        </models>
		<helpers>
			<idstore>
                <class>Etheme_Idstore_Helper</class>
            </idstore>
		</helpers>
	    <blocks>
            <idstore>
                <class>Etheme_Idstore_Block</class>
            </idstore>
		</blocks>
	</global>
	<default>
		<idstore_general>
			<generaloptions>
				<sitelayout>wide</sitelayout>
                <enable_responsive>1</enable_responsive>
                <large_resolution>1600</large_resolution>
                <header_type>1</header_type>
                <use_fixed_header>1</use_fixed_header>
                <use_gfont_headings>0</use_gfont_headings>
                <use_gfont_menu>0</use_gfont_menu>
				<topbtn>modern</topbtn>
                <google_ltd>51.507622,-0.1305</google_ltd>
                <enable_ajax>1</enable_ajax>
                <use_custom_css>0</use_custom_css>
			</generaloptions>
            <navigation>
                <menutype>1</menutype>
                <mobile_menutype>side</mobile_menutype>
                <home_link>Home</home_link>                                
                <additional_nav>Clearance</additional_nav>
				<additional_nav_href>#</additional_nav_href>                            
            </navigation>            
			<background>
                <maincolor>fff</maincolor>
                <pattern>default/pattern.png</pattern>
                <bg_repeat></bg_repeat>
                <bg_attachment></bg_attachment>
                <bg_position_x></bg_position_x>
                <bg_position_y></bg_position_y>
			</background>            
            <product_list>
                <sidebar_position>0</sidebar_position>
				<hover_swap>1</hover_swap>
                <disable_sidebar_products>0</disable_sidebar_products>
                <sidebar_sort_categories>position</sidebar_sort_categories>
				<column_count>3</column_count>
                <page_layout>1</page_layout>
				<layer>1</layer>
				<sale_label>1</sale_label>
				<new_label>1</new_label>
				<addto>0</addto>
            </product_list>
            <!--
			<share>
				<use_share>1</use_share>
				<share_code><![CDATA[
<div style="clear: both;">&nbsp;</div>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>            
</div>]]></share_code>
			</share>
        
			<slideshow>
				<use_slideshow>1</use_slideshow>
				<autoplay>1</autoplay>
				<speed>8000</speed>
                <slides_count>2</slides_count>
			</slideshow>
            -->
			<productpage>
				<layout>default</layout>   
                    
				<zoom_type>hover</zoom_type>
            <!--   
				<use_carousel>1</use_carousel>
            -->
			</productpage>
            <footer>
                <show_links>1</show_links>            
                <use_twitter>1</use_twitter>
                <twitter_username>8theme</twitter_username>
                <twitter_count>2</twitter_count>
                <use_flickr>1</use_flickr>
                <flickr_username>flatworldsedge</flickr_username>
                <flickr_api_key>de1d12b6db410a797a445142e00e2178</flickr_api_key>
                <flickr_count>6</flickr_count>
            </footer>
            <colors>
                <active_color>FF4A4A</active_color>
                <button_hover>fd2527</button_hover>
            </colors>

		</idstore_general>
	</default>
    <!--frontend>
        <layout>
            <updates>
                <idstore>
                    <file>local.xml</file>
                </idstore>
            </updates>
        </layout>     
    </frontend-->    
    <adminhtml>
        <layout>
            <updates>
                <idstore>
                    <file>idstore.xml</file>                
                </idstore>                        
            </updates>        
        </layout>    
    </adminhtml>    
    <admin>
        <routers>
            <idstore_route>
                <use>admin</use>
                <args>
                    <module>Etheme_Idstore</module>
                    <frontName>idstore</frontName>
                </args>
            </idstore_route>
        </routers>
    </admin>
	<!---->    
</config>
